body {
    margin: 0;
    padding: 0;
}

.wrapper {
    background-color: #f3f3f4;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.user-card {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1176px;
    font-size: 15px;
    color: #698392;
    font-family: 'Museo Sans Cyrl 500', Arial, Helvetica, sans-serif;
}

.background {
    height: 213px;
    background: url(./img/background.png);
    background-size: cover;
}

.content {
    display: flex;
    margin: 0 3% 0 9%;
}

.info {
    width: 24%;
    margin-right: 6%;
}

.avatar {
    margin-top: -50%;
    position: relative;
}

.avatar__wrap {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.avatar__reward {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    display: none;
}

.avatar__image {
    width: 100%;
}

.info__data {
    margin: 30px 0 24px;
}

.info__data-name {
    display: block;
    font-size: 1.6em;
    color: #2b3341;
    font-family: 'Museo Sans Cyrl 900', Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-bottom: 30px;
}

.info__data-position {
    font-family: 'Museo Sans Cyrl 500', Arial, Helvetica, sans-serif;
}

.performance {
    display: flex;
    margin: 30px 0;
}

.performance__earned {
    margin-right: 25px;
    border-right: 1px solid #eef0f6;
}

.performance__thanks {
    margin-right: 25px;
}

.performance__title {
    display: block;
    font-size: 42px;
    font-family: 'Museo Sans Cyrl 900', Arial, Helvetica, sans-serif;
    color: #2b3341;
}

.performance__subtitle {
    font-family: 'Museo Sans Cyrl 700', Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.indicator__title {
    display: block;
    font-family: 'Museo Sans Cyrl 900', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #2B3341;
    margin-bottom: 24px;
}

.doters {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.doters__title {
    font-family: 'Museo Sans Cyrl 700', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.doters-wrap {
    display: flex;
}

.doters__item {
    padding-top: 8px;
    margin-right: 12px;
}

.doters__item::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #229fff;
}

.doters__item-gray::before {
    background-color: #c9d2da;
}

.user-account {
    width: 76%;
    margin-top: 50px;
}

.menu {
    margin: 0;
    padding: 0;
    display: flex;
    white-space: nowrap;
}

.menu__item {
    color: #a5b5be;
    line-height: 24px;
    list-style: none;
}

.menu__link {
    font-family: 'Museo Sans Cyrl 900', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #a5b5be;
    font-size: 16px;
    margin-right: 26px;
}

.user-account__menu-link {
    font-size: 18px;
}

.menu__link:hover {
    color: #2b3341;
}

.block-wrapper {
    margin: 40px 0 90px;
    padding: 30px 56px;
    background-color: #fff;
}

.breadcrumbs {
    margin-bottom: 40px;
}

.info-done {
    margin-bottom: 48px;
    display: flex;
}

.info-box__link {
    display: block;
    text-decoration: none;
    margin-right: 23px;
}

.info-box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 18px 16px;
    width: 130px;
    height: 142px;
    background-color: #f3f3f4;
    border-radius: 4px;
}

.info-box:hover {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.25), 0 6px 10px rgba(0, 0, 0, 0.22);
}

.info-box__title {
    font-family: 'Museo Sans Cyrl 900', Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: #2b3341;
    margin-bottom: 30px;
}

.info-box__item {
    font-family: 'Museo Sans Cyrl 700', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #2b3341;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
    background-color: #f3f3f4;
    box-sizing: border-box;
    border-bottom: 1px solid #f3f3f4;
}

table tr {
    padding: 5px;
}

table th, table td {
    font-family: 'Museo Sans Cyrl 500', Arial, Helvetica, sans-serif;
    padding: 14px 18px;
    color: #000;
}

tbody tr {
    border-bottom: 1px solid #f3f3f4;
}

td.done {
    color: #10b112;
}

td.during {
    color: #698392;
}

td.name {
    font-family: 'Museo Sans Cyrl 900', Arial, Helvetica, sans-serif;
    color: #229fff;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        height: auto;
    }

    .content {
        display: block;
        margin: 0 auto;
    }

    .info {
        width: 80%;
        margin: 0 auto 50px;
    }

    .info-wrapper {
        display: flex;
    }

    .info .info-wrapper:nth-child(1) {
        align-items: flex-end;
    }

    .info-wrap {
        flex-direction: row-reverse;
        justify-content: space-around;
        margin-top: 50px;
    }

    .avatar {
        margin-right: 35px;
    }

    .indicators {
        margin-right: 35px;
    }

    .performance {
        flex-direction: column;
        margin: 0;
        max-width: 120px;
    }

    .performance__earned {
        border-right: none;
        border-bottom: 1px solid #eef0f6;
        padding-bottom: 10px;
    }

    .performance__thanks {
        padding-top: 10px;
    }

    .user-account {
        margin: 0 auto;
        padding-bottom: 90px;
        width: 100%;
    }

    .menu {
        padding-left: 25px;
    }

    .block-wrapper {
        margin-bottom: 0;
        padding: 30px 0;
    }

    .info-done {
        flex-wrap: wrap;
        margin: 0 auto;
        padding-left: 25px;
    }

    .info-box {
        margin-bottom: 23px;
    }

    td:nth-child(2),
    td:nth-child(4){
        display: none;
    }
}
