body {
    margin: 0;
    padding: 0;
}

.user-card {
    box-sizing: border-box;
    margin: -38px auto 0;
    max-width: 1176px;
    font-size: 15px;
    color: #698392;
    font-family: 'Museo Sans Cyrl 500', Arial, Helvetica, sans-serif;
    background-color: #f3f3f4;
    overflow: hidden;
}

.background {
    height: 213px;
    background: url(./img/background.png);
    background-size: cover;
}

.content {
    display: flex;
    margin: 0 3% 0 9%;
}

.profile {
    width: 24%;
    margin: -111px 6% 0 0;
}

.info__avatar {
    position: relative;
    display: block;
    width: 222px;
    height: 100%;
}

.info__avatar-image {
    border-radius: 50%;
    vertical-align: bottom;
    width: 100%;
    height: auto;
}

.info__avatar::before {
    content: '';
    display: none;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background-color: #fff;
    bottom: 0;
    position: absolute;
}

.info__data {
    margin: 30px 0 24px;
}

.info__data-name {
    display: block;
    font-size: 1.6em;
    color: #2b3341;
    font-family: 'Museo Sans Cyrl 900', Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-bottom: 30px;
}

.info__data-position {
    font-family: 'Museo Sans Cyrl 500', Arial, Helvetica, sans-serif;
}

.performance {
    display: flex;
    margin: 30px 0;
}

.performance__earned {
    margin-right: 25px;
    border-right: 1px solid #eef0f6;
}

.performance__thanks {
    margin-right: 50px;
}

.performance__title {
    display: block;
    font-size: 42px;
    font-family: 'Museo Sans Cyrl 900', Arial, Helvetica, sans-serif;;
    color: #2b3341;
}

.performance__subtitle {
    font-family: 'Museo Sans Cyrl 700', Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.user-account {
    width: 76%;
    margin-top: 50px;
}

.breadcrumbs {
    display: none;
}

.menu {
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}

.menu__item {
    color: #a5b5be;
    line-height: 24px;
    list-style: none;
}

.menu__link {
    font-family: 'Museo Sans Cyrl 900', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #a5b5be;
    font-size: 16px;
    margin-right: 26px;
}

.user-account__menu-link {
    font-size: 18px;
}

.menu__link:hover {
    color: #2b3341;
}


/*Adaptation block*/

.adaptation {
    margin: 20px 0 90px;
    position: relative;
    display: none;

}

.planet-menu {
    background: url("./img/background_spaces_b.png")no-repeat;
    background-size: contain;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 560px;
}

.planet-menu__pic1 {
    top: 176px;
    left: 55px;
    width: 14%;
    position: absolute;
}

.planet-menu__pic2 {
    top: 78px;
    left: 143px;
    width: 16%;
    position: absolute;
}

.planet-menu__pic3 {
    top: 8px;
    left: 252px;
    width: 22%;
    position: absolute;
}

.planet-menu__pic4 {
    top: 26px;
    right: 115px;
    width: 30%;
    position: absolute;
}

.planet-menu__pic5 {
    top: 176px;
    right: 13px;
    width: 29%;
    position: absolute;
}

.planet-menu__pic6 {
    bottom: 45px;
    right: 151px;
    width: 14%;
    position: absolute;
}

.planet-menu__pic7 {
    bottom: 19px;
    right: 295px;
    width: 15%;
    position: absolute;
}

.planet-menu__pic8 {
    bottom: 82px;
    left: 220px;
    width: 13%;
    position: absolute;
}

.planet-menu__pic9 {
    bottom: 191px;
    left: 187px;
    width: 10%;
    position: absolute;
}

.planet-menu__pic10 {
    top: 195px;
    right: 305px;
    width: 23%;
    position: absolute;
}

.planet-menu__pic11 {
    top: 182px;
    right: 292px;
    width: 14%;
    position: absolute;
}
/*-------------------*/

.block-wrapper {
    margin: 40px 0 90px;
    padding: 30px 56px 0 56px;
    background-color: #fff;
}

.breadcrumbs {
    margin-bottom: 40px;
}

/*Rewards block*/
.rewards {
    width: 100%;
}

.rewards__title {
    font-family: 'Museo Sans Cyrl 900', Arial, Helvetica, sans-serif;
    color: #2b3341;
    font-size: 18px;
}

.rewards-menu {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.rewards__link {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
}

.rewards-menu__reward {
    width: 17%;
    margin-right: 18px;
    cursor: pointer;
}

.rewards-menu__reward img{
    width: 80%;
}

.rewards-menu__available {
    opacity: 0.4;
}

.rewards-menu__available:hover {
    opacity: 1;
}

.tooltip {
    cursor: help;
    text-decoration: none;
    position: relative;
    outline: none;
    color: black;
    text-align: left;
}

.tooltip span {
    margin-left: -999em;
    position: absolute;
    font-size: 13px;
}

.tooltip:hover span {
    border-radius: 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    left: 1em;
    top: 2em;
    z-index: 99;
    margin-left: 0;
    padding: 10px;
    width: 200px;
}

.classic {
    background: #def3f6;
}

/*-------------*/

/*Rewards catalog*/

.rewards-catalog__title {
    font-family: 'Museo Sans Cyrl 900', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #2b3341;
    margin: 20px 0;
}

select {
    border: 1px solid #a5b5be;
    border-radius: 3px;
    font-size: 15px;
    color: black;
    padding: 5px;
}

/*---------------*/

.info-done {
    margin-bottom: 48px;
    display: flex;
}

.info-box__link {
    display: block;
    text-decoration: none;
    margin-right: 23px;
}

.info-box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 18px 16px;
    width: 130px;
    height: 142px;
    background-color: #f3f3f4;
    border-radius: 4px;
}

.info-box:hover {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.25), 0 6px 10px rgba(0, 0, 0, 0.22);
}

.info-box__title {
    font-family: 'Museo Sans Cyrl 900', Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: #2b3341;
    margin-bottom: 30px;
}

.info-box__item {
    font-family: 'Museo Sans Cyrl 700', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #2b3341;
}

.table-wrap {
    width: 100%;
    padding-bottom: 60px;
}

.table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 18px;
    box-sizing: border-box;
    border-bottom: 1px solid #f3f3f4;
}

.table-head {
    background-color: #f3f3f4;
}

.table-cell:first-child {
    width: 40%;
}

.table-cell {
    width: 20%;
    padding-right: 10px;
    font-family: 'Museo Sans Cyrl 500', Arial, Helvetica, sans-serif;
}

.table-cell__link {
    font-family: 'Museo Sans Cyrl 900', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #229fff;
}

.table-cell__done {
    color: #10b112;
}

.table-cell__black-text {
    color: #000;
}


/*Media for mobile version*/

@media only screen and (max-width: 768px) {
    .content {
        display: block;
        margin: 0 auto;
    }

    .profile {
        width: 80%;
        margin: -79px 6% 0 6%;
    }

    .info {
        display: flex;
        justify-content: space-between;
    }

    .info-wrapper {
        width: 40%;
        margin: 79px 25px 0;
    }

    .info__data-name {
        margin-bottom: 15px;
    }

    .user-account {
        margin: 0 auto;
        padding-bottom: 90px;
        width: 100%;
    }

    .menu {
        padding-left: 25px;
    }

    /*Adaptation block*/

    /* This styles apply only for adaptation block
    .content {
        margin: 0 3% 0 9%;
    }

    .menu {
        padding: 0;
    }
*/
    .adaptation {
        margin-bottom: 0;
    }

    .planet-menu {
        background: url("./img/background_spaces_tab.png")no-repeat;
        background-size: contain;
        height: 1199px;
    }

    .planet-menu__pic1 {
        top: 367px;
        left: 6px;
        width: 20%;
    }

    .planet-menu__pic2 {
        top: 230px;
        left: 65px;
        width: 23%;
    }

    .planet-menu__pic3 {
        top: 128px;
        left: 200px;
        width: 32%;
    }

    .planet-menu__pic4 {
        top: 210px;
        right: 67px;
        width: 44%;
    }

    .planet-menu__pic5 {
        top: 405px;
        right: 12px;
        width: 43%;
    }

    .planet-menu__pic6 {
        bottom: 344px;
        right: 98px;
        width: 20%;
    }

    .planet-menu__pic7 {
        bottom: 233px;
        right: 215px;
        width: 22%;
    }

    .planet-menu__pic8 {
        bottom: 208px;
        left: 152px;
        width: 18%;
    }

    .planet-menu__pic9 {
        bottom: 305px;
        left: 44px;
        width: 14%;
    }

    .planet-menu__pic10 {
        top: 591px;
        left: 97px;
        width: 34%;
    }

    .planet-menu__pic11 {
        top: 587px;
        left: 221px;
        width: 14%;
    }


    /*----------------*/

    .block-wrapper {
        margin-bottom: 0;
        padding: 30px 0;
    }

    /*Rewards block*/

    .rewards {
        padding: 0 25px;
    }

    .rewards-catalog {
        padding: 0 25px;
    }

    /*-------------*/
    .info-done {
        flex-wrap: wrap;
        margin: 0 auto;
        padding-left: 25px;
    }

    .info-box {
        margin-bottom: 23px;
    }

    .column-2, .column-4 {
        display: none;
    }

    .column-1 {
        width: 60%;
    }

    .column-3 {
        width: 40%;
    }
}
