@import "../main.css";

.block-wrapper {
    padding-bottom: 90px;
}

table {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

table th, table td {
    font-family: 'Museo Sans Cyrl 700', Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: center;
    color: #2b3341;
}

.kpi-name {
    text-align: left;
}

table th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

.th-gray {
    color: #a5b5be;
}

.kpi-table-mob {
    display: none;
}

@media screen and (max-width: 768px) {
    .kpi-table {
        display: none;
    }

    .kpi-table-mob {
        display: table;
    }

}