@import "../main.css";

.adaptation {
    margin: 20px 0 90px;
}

.adaptation__background {
    background: url("../img/background_spaces_b.png") no-repeat;
    background-size: contain;
    height: 560px;
}

.planet-menu {
    width: 740px;
    position: relative;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.planet-menu__pic1 {
    top: 176px;
    left: 55px;
    width: 14%;
    position: absolute;
}

.planet-menu__pic2 {
    top: 78px;
    left: 143px;
    width: 16%;
    position: absolute;
}

.planet-menu__pic3 {
    top: 8px;
    left: 252px;
    width: 22%;
    position: absolute;
}

.planet-menu__pic4 {
    top: 26px;
    right: 115px;
    width: 30%;
    position: absolute;
}

.planet-menu__pic5 {
    top: 176px;
    right: 13px;
    width: 29%;
    position: absolute;
}

.planet-menu__pic6 {
    top: 404px;
    right: 151px;
    width: 14%;
    position: absolute;
}

.planet-menu__pic7 {
    top: 429px;
    right: 295px;
    width: 15%;
    position: absolute;
}

.planet-menu__pic8 {
    top: 385px;
    left: 222px;
    width: 12%;
    position: absolute;
}

.planet-menu__pic9 {
    top: 294px;
    left: 187px;
    width: 10%;
    position: absolute;
}

.planet-menu__pic10 {
    top: 195px;
    right: 305px;
    width: 23%;
    position: absolute;
}

.planet-menu__pic11 {
    top: 182px;
    right: 292px;
    width: 14%;
    position: absolute;
}

@media only screen and (max-width: 768px) {
    .content {
        margin: 0 3% 0 9%;
    }
    .menu {
        padding: 0;
    }

    .adaptation {
        margin-bottom: 0;
    }

    .adaptation__background {
        background: url(../img/spaces_mob.png) no-repeat;
        background-size: contain;
        height: 1199px;
    }

    .planet-menu {
        width: 672px;
    }

    .planet-menu__pic1 {
        top: 364px;
        left: 4px;
        width: 20%;
    }

    .planet-menu__pic2 {
        top: 229px;
        left: 65px;
        width: 21%;
    }

    .planet-menu__pic3 {
        top: 120px;
        left: 195px;
        width: 31%;
    }

    .planet-menu__pic4 {
        top: 208px;
        right: 132px;
        width: 40%;
    }

    .planet-menu__pic5 {
        top: 405px;
        right: 71px;
        width: 40%;
    }

    .planet-menu__pic6 {
        top: 709px;
        right: 163px;
        width: 19%;
    }

    .planet-menu__pic7 {
        top: 820px;
        right: 280px;
        width: 20%;
    }

    .planet-menu__pic8 {
        top: 866px;
        left: 151px;
        width: 17%;
    }

    .planet-menu__pic9 {
        top: 799px;
        left: 44px;
        width: 13%;
    }

    .planet-menu__pic10 {
        top: 591px;
        left: 97px;
        width: 34%;
    }

    .planet-menu__pic11 {
        top: 587px;
        left: 221px;
        width: 14%;
    }
}

@media only screen and (max-width: 414px) {
    .adaptation__background {
        height: 647px;
    }

    .planet-menu {
        width: 360px;
    }

    .planet-menu__pic1 {
        top: 199px;
        left: 2px;
    }

    .planet-menu__pic2 {
        top: 125px;
        left: 34px;
        width: 23%;
    }

    .planet-menu__pic3 {
        top: 68px;
        left: 105px;
        width: 33%;
    }

    .planet-menu__pic4 {
        top: 114px;
        right: 36px;
        width: 43%;
    }

    .planet-menu__pic5 {
        top: 218px;
        right: 2px;
        width: 44%;
    }

    .planet-menu__pic6 {
        top: 385px;
        right: 50px;
        width: 20%;
    }

    .planet-menu__pic7 {
        top: 442px;
        right: 112px;
        width: 23%;
    }

    .planet-menu__pic8 {
        top: 468px;
        left: 78px;
        width: 19%;
    }

    .planet-menu__pic9 {
        top: 430px;
        left: 21px;
        width: 15%;
    }

    .planet-menu__pic10 {
        top: 320px;
        left: 51px;
    }

    .planet-menu__pic11 {
        top: 309px;
        left: 123px;
    }
}