@import '../../main.css';

.rating-table {
    width: 645px;
    overflow: scroll;
}

.avatar-image {
    width: 40px;
    border-radius: 50%;
}

table th, table td {
    text-align: center;
    padding: 7px 18px;
}

td:nth-child(1),
td:nth-child(2) {
    max-width: 30px;
}

@media only screen and (max-width: 768px) {

}